---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for p in site.series %}
      <li>
        <h2>
          <a class="post-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
